body {
  margin: 0;
  font-family: sans-serif;
}

code {
  font-family: monospace;
}

pre {
  background: #eee;
  margin: 4px;
  padding: 8px;
}

code {
  outline: none;
}

canvas {
  border: 1px solid #dddddd;
  min-height: 400px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
